*{
    margin: 0;
    padding: 0;

}
body{
    height: 95vh;
    background-color: rgb(61, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 83, 83);
    padding-top: 30px;

}
.container{
    width: 86%;
    height: 97%;
    border: 1px solid;
background-color: rgb(85, 21, 21);
border-radius: 1%;
padding-top: 30px ;


font-weight: bolder;
font-size: 19px;
}
ul li{
    margin: 49px;
    padding-top: 49px;
    display: inline;
    justify-content: space-between;
    
}
nav{
    display: inline;
    justify-content: space-between;
    direction: rtl;
    
}
nav div{
direction: ltr;
    object-fit: cover;
    padding: 12px;
}
    
.main{
    display: flex;
}

.right{
     margin-top: 1px;
    direction: rtl;
    margin: 42px;
    margin-left: 45%;
    border-radius: 6px;
    
    
    
}
.left{
    direction: ltr;
    width: 30%;
}
h1{
    margin-top: 63px; 
    margin-left: 62px;
} 

.para{
    line-height: 29px;
    background-color: rgb(109, 41, 41);
    margin: 72px;
    padding: 22px;
    border-radius: 9px;
    box-shadow: 3px 3px  rgb(172, 74, 74);
}
footer p{
    display: flex;
    justify-content: center;
    background-color: rgb(107, 23, 23);
    font-size: 24px ;
}

















